<div class="search-container">
    <form class="search-form">
        <mat-form-field class="search-full-width" appearance="fill">
            <mat-label>Informe o nome do Item ou do Calabouço</mat-label>
            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.nome}} - {{option.tipo}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div class="button-container">
            <button class="dark-button" (click)="pesquisar()">Pesquisar</button>
            <button class="dark-button" routerLink="">Voltar</button>
        </div>
    </form>
</div>